/* Custom CSS for Botpress chatbot */

/* Style the header */
.bpw-header-container {
  background: orange;
}

/* Style the send button */

.bpw-send-button {
  /* background-color: orange; */
  color: rgba(255, 255, 255, 0);
  /* border-radius: 5px; Makes the button slightly rounded */
  /* color: white; Changes the text color to white */
  /* box-shadow: 2px 2px 5px black; Adds a shadow to the button */
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="orange" d="M3 20v-6l8-2l-8-2V4l19 8l-19 8Z"%2F%3E%3C%2Fsvg%3E'); /* Adds a send icon to the button */
  background-repeat: no-repeat; /* Prevents the icon from repeating */
  background-size: 30px; /* Adjusts the size of the icon */
}

.bpw-send-button:hover {
  /* background-color: #ffc966; */
  color: rgba(255, 255, 255, 0);
  /* border-radius: 5px; Makes the button slightly rounded */
  /* color: white; Changes the text color to white */
  /* box-shadow: 2px 2px 5px black; Adds a shadow to the button */
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="%23ffc966" d="M3 20v-6l8-2l-8-2V4l19 8l-19 8Z"%2F%3E%3C%2Fsvg%3E'); /* Adds a send icon to the button */
  background-repeat: no-repeat; /* Prevents the icon from repeating */
  background-size: 30px; /* Adjusts the size of the icon */
}

/* Style the widget height */
.bpw-layout {
  height: 100%; /* full height on smaller screens */
}

/* Use a media query for larger screens */
@media (min-width: 992px) {
  /* Adjust this value according to your requirements */
  .bpw-layout {
    height: 80vh; /* 80% of viewport height on larger screens */
  }
}

.bpw-floating-button {
  background-color: orange;
}

.bpw-floating-button:hover {
  background-color: #ffc966;
}

.bpw-header-name {
  /* sets the color of the element to white */
  color: #ffffff;
}

.bpw-header-subtitle {
  /* sets the color of the element to white */
  color: #ffffff;
}

.bpw-header {
  /* sets the color of the element to white */
  color: white;
}

.bpw-composer {
  /* padding: 0; Remove any padding */
  /* position: relative; Set the position to relative */
  /* outline: none; Remove any outline */
  border: 2px; /* Remove any border */
}
